form
	span.hint
		display: block
		font-family: $secondary-font-family
		line-height: $line-height
	.input
		position: relative
		margin-bottom: $line-height
		&.date
			padding: 0
			overflow: hidden
			margin-right: $line-height
			label
				@include span-columns(12)
			select
				@include span-columns(4)
		select
			margin-bottom: $line-height
			@include span-columns(12)
			display: block
			height: $line-height * 2.0
			padding: $line-height * 0.5
			border: none
			border-bottom: 3px solid rgba(0, 0, 0, 0.2)
			background: rgba(0, 0, 0, 0.07)
			outline: none
			box-sizing: border-box
			-webkit-appearance: none
			border-radius: 0
		&.hidden
			margin: 0
		span.required, span.error
			top: - $line-height * 0.1
			font-family: $secondary-font-family
			background: $highlight-color
			border-radius: 2px
			color: white
			display: inline-block
			line-height: $line-height
			font-size: $secondary-font-size * 0.8
			font-weight: bold
			text-transform: uppercase
			padding: 0 $line-height * 0.4
			margin: 0
			position: absolute
			top: 0
			right: 0
		> input, > textarea
			display: block
			height: $line-height * 2.0
			padding: $line-height * 0.5
			width: 100%
			border: none
			border-bottom: 3px solid rgba(0, 0, 0, 0.2)
			background: rgba(0, 0, 0, 0.07)
			outline: none
			resize: none
			box-sizing: border-box
		> textarea
			height: $line-height * 8.0
		> label.control-label
			display: block
			margin-bottom: $line-height * 0.5
			text-align: left

		&.check_boxes, &.radio_buttons, &.boolean
			margin-right: $line-height
			> label.control-label
				@include span-columns(12)
			user-select: none
			-webkit-user-select: none
			label.checkbox, label.radio
				@include span-columns(6)
				background: rgba(0, 0, 0, 0.05)
				display: block
				line-height: $line-height
				text-align: left
				padding: $line-height * 0.5
				box-sizing: border-box
				border-bottom: 3px solid rgba(0, 0, 0, 0.2)
				margin-bottom: $line-height
				font-weight: 400
				&:hover
					cursor: pointer
				&.selected
					background: $highlight-color
					border-bottom-color: $highlight-color
					font-weight: 700
				input
					display: none